@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-VariableFont_wdth,wght.ttf);
}

* {
    font-family: Roboto;
    box-sizing: border-box;
}

body, .header-and-title, .title-left, .random-information {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.blocks, .header, ul, .title, .action-content {
    display: flex;
    justify-content: space-between;
}

.random-information {
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0em;
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

.header-and-title, .action {
    padding: 0em 10em 6em;
}

.blocks {
    gap: 2em;
    padding: 2em 14em 5em;
}

.shape {
    border: 0.2em solid red;
    height: 7em;
    width: 7em;
    border-radius: 1em;
}

.quote {
    padding: 5em 16em 5em;
    background-color: #E5E7EB;
}

.quote-words {
    font-style: italic;
    font-size: 2.25em;
    color: #1F2937;
    font-weight: 300;
}

.quote-author {
    text-align: right;
    font-weight: 500;
}

.placeholder {
    width: 32.5em;
    height: 12em;
    border: 0.2em solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-left {
    width: 31em;
    height: 12em;
}

h1 {
    font-size: 3em;
    padding: 0em;
    margin: 0em;
}

.random-information h2 {
    font-size: 2.25em;
    color: #1F2937;
    font-weight: 900;
}

.footer {
    text-align: center;
}

.header-and-title, .footer {
    background-color: #1F2937;
}