body, .header-and-title {
    display: flex;
    flex-direction: column;
}

.blocks, .header, ul, .title, .action-content {
    display: flex;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0em;
}