body, .header-and-title, .random-information {
    display: flex;
    flex-direction: column;
}

.blocks, .header, ul, .title, .action-content {
    display: flex;
    justify-content: space-between;
}

.random-information {
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0em;
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

.header-and-title, .action {
    padding: 0em 10em 6em;
}

.blocks {
    gap: 2em;
    padding: 2em 14em 5em;
}

.shape {
    border: 0.2em solid red;
    height: 7em;
    width: 7em;
    border-radius: 1em;
}

.quote {
    padding: 0em 16em 5em;
}